body{
  background-image:url("../img/");
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
  -o-background-size: cover;
}

p{
  font-family: comic sans ms;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 25px;
}

footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color:white;
}

#antes{
  float: left;
}

#despues{
  float: right;
}

#pie{
  font-family: comic sans ms;
  margin-right: 100px;
  font-size: 25px;
}

.voltear{
  transform: scaleX(-1);
}